*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
#fk{
    width: 100%;
    height: 607px;
    margin: auto;
    position: relative;
}
#fk img{
    width: 80%;
    height: autp;
    margin-left: 10%;
    position: absolute;
    top:0;
    left: 0;
    display: none;
}
#fk ul{
    position: absolute;
    width: 108px;
    left: 50%;
    margin-left: -52px;
    bottom: 20px;
}
#fk ul li{
    width: 10px;
    height: 10px;
    background: #000;
    float: left;
    border-radius: 12px;
    margin-right: 8px;
}
